.v-form{
  .v-input {
    &__control {
      margin-top: 10px;
  
      .v-label {
        overflow: visible;
      }
    }
  
    &__details {
      margin-top: 10px;
    }
    .v-checkbox-btn .v-label {
      font-size: 12px !important;
      font-family: var(--font-family-text);
    }
  }
}
